@{
    ViewData["Title"] = "Editais";
}

<!-- breadcrumb-area-start -->
<div class="it-breadcrumb-area it-breadcrumb-bg" data-background="~/assets/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="it-breadcrumb-content z-index-3 text-center">
                    <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">Atas</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                            <span><a href="/Home">home</a></span>
                            <span class="dvdr">//</span>
                            <span>Atas</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->
<!-- feature-area-start -->
<div class="it-feature-3-area it-feature-3-bg it-feature-3-style grey-bg pt-120 pb-90">
    <div class="container">
        <div class="row">
            <h6>2024</h6>
            <ul>
                <li><a href="~/assets/docs/ata26082024.pdf">Ata de Assembléia 26/08/2024</a></li>
                <li><a href="~/assets/docs/listapresenca26082024.pdf">Lista de presença 26/08/2024</a></li>
                <li><a href="~/assets/docs/ata2024.pdf">Ata de Assembléia 23/07/2024</a></li>
                <li><a href="~/assets/docs/listapresenca.pdf">Lista de presença 23/07/2024</a></li>
                
            </ul>
            <br />
            <p></p>
            <h6>2017</h6>
            <ul>
                <li><a href="~/assets/docs/ata2017.pdf">Ata de Assembléia 14/01/2017</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- feature-area-end -->
