@{
    ViewData["Title"] = "Diretoria";
}

<!-- breadcrumb-area-start -->
<div class="it-breadcrumb-area it-breadcrumb-bg" data-background="~/assets/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="it-breadcrumb-content z-index-3 text-center">
                    <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">DIRETORIA</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                            <span><a href="/Home">home</a></span>
                            <span class="dvdr">//</span>
                            <span>DIRETORIA</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->
<!-- team-area-start -->
<div class="it-team-3-area it-team-3-style-2  it-team-3-style-3 pt-110 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                <div class="it-team-3-item text-center">
                    <div class="it-team-3-thumb fix">
                        <img src="~/assets/img/diretoria/DanielReis.JPG" alt="">
                    </div>
                    <div class="it-team-3-content">
                        <div class="it-team-3-social-box p-relative">
                            <button>
                                <i class="fa-light fa-share-nodes"></i>
                            </button>
                            <div class="it-team-3-social-wrap">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="it-team-3-author-box">
                            <h4 class="it-team-3-title"><a href="#">Daniel dos Reis</a></h4>
                            <span>Presidente</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                <div class="it-team-3-item text-center">
                    <div class="it-team-3-thumb fix">
                        <img src="~/assets/img/diretoria/FabricioCortezMenezes.JPG" alt="">
                    </div>
                    <div class="it-team-3-content">
                        <div class="it-team-3-social-box p-relative">
                            <button>
                                <i class="fa-light fa-share-nodes"></i>
                            </button>
                            <div class="it-team-3-social-wrap">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="it-team-3-author-box">
                            <h4 class="it-team-3-title"><a href="#">Fabrício Cortez Menezes</a></h4>
                            <span>Vice-presidente</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                <div class="it-team-3-item text-center">
                    <div class="it-team-3-thumb fix">
                        <img src="~/assets/img/diretoria/ThiagoSouzaAlves.JPG" alt="">
                    </div>
                    <div class="it-team-3-content">
                        <div class="it-team-3-social-box p-relative">
                            <button>
                                <i class="fa-light fa-share-nodes"></i>
                            </button>
                            <div class="it-team-3-social-wrap">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="it-team-3-author-box">
                            <h4 class="it-team-3-title"><a href="#">Thiago de Souza Alves</a></h4>
                            <span>Tesoureiro</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                <div class="it-team-3-item text-center">
                    <div class="it-team-3-thumb fix">
                        <img src="~/assets/img/diretoria/RodrigoFerreira.JPG" alt="">
                    </div>
                    <div class="it-team-3-content">
                        <div class="it-team-3-social-box p-relative">
                            <button>
                                <i class="fa-light fa-share-nodes"></i>
                            </button>
                            <div class="it-team-3-social-wrap">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="it-team-3-author-box">
                            <h4 class="it-team-3-title"><a href="#">Rodrigo Ferreira</a></h4>
                            <span>Conselho Fiscal</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                <div class="it-team-3-item text-center">
                    <div class="it-team-3-thumb fix">
                        <img src="~/assets/img/diretoria/LucioMauroAfonso.JPG" alt="">
                    </div>
                    <div class="it-team-3-content">
                        <div class="it-team-3-social-box p-relative">
                            <button>
                                <i class="fa-light fa-share-nodes"></i>
                            </button>
                            <div class="it-team-3-social-wrap">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="it-team-3-author-box">
                            <h4 class="it-team-3-title">Lucio Mauro Afonso</h4>
                            <span>Conselho Fiscal</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                <div class="it-team-3-item text-center">
                    <div class="it-team-3-thumb fix">
                        <img src="~/assets/img/diretoria/BrunoCesarBarros.JPG" alt="">
                    </div>
                    <div class="it-team-3-content">
                        <div class="it-team-3-social-box p-relative">
                            <button>
                                <i class="fa-light fa-share-nodes"></i>
                            </button>
                            <div class="it-team-3-social-wrap">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="it-team-3-author-box">
                            <h4 class="it-team-3-title"><a href="#">Bruno César Barros</a></h4>
                            <span>Conselho Fiscal</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                <div class="it-team-3-item text-center">
                    <div class="it-team-3-thumb fix">
                        <img src="~/assets/img/diretoria/LeandroJoseVieira.JPG" alt="">
                    </div>
                    <div class="it-team-3-content">
                        <div class="it-team-3-social-box p-relative">
                            <button>
                                <i class="fa-light fa-share-nodes"></i>
                            </button>
                            <div class="it-team-3-social-wrap">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="it-team-3-author-box">
                            <h4 class="it-team-3-title"><a href="#">Leandro José Vieira</a></h4>
                            <span>Suplente Conselho Fiscal</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                <div class="it-team-3-item text-center">
                    <div class="it-team-3-thumb fix">
                        <img src="~/assets/img/diretoria/DanielleFurtadoSilva.JPG" alt="">
                    </div>
                    <div class="it-team-3-content">
                        <div class="it-team-3-social-box p-relative">
                            <button>
                                <i class="fa-light fa-share-nodes"></i>
                            </button>
                            <div class="it-team-3-social-wrap">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="it-team-3-author-box">
                            <h4 class="it-team-3-title"><a href="#">Danielle Furtado Silva Alcântara</a></h4>
                            <span>Suplente Conselho Fiscal</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                <div class="it-team-3-item text-center">
                    <div class="it-team-3-thumb fix">
                        <img src="~/assets/img/diretoria/CleuzaMariaBento.jpg" alt="">
                    </div>
                    <div class="it-team-3-content">
                        <div class="it-team-3-social-box p-relative">
                            <button>
                                <i class="fa-light fa-share-nodes"></i>
                            </button>
                            <div class="it-team-3-social-wrap">
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="it-team-3-author-box">
                            <h4 class="it-team-3-title"><a href="#">Cleuza Maria Bento</a></h4>
                            <span>3ª Suplente Conselho Fiscal</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team-area-end -->
