@{
    ViewData["Title"] = "Home Page";
}

<!-- breadcrumb-area-start -->
<div class="it-breadcrumb-area it-breadcrumb-bg" data-background="~/assets/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="it-breadcrumb-content z-index-3 text-center">
                    <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">Documentos</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                            <span><a href="/Home">home</a></span>
                            <span class="dvdr">//</span>
                            <span>Documentos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->
<!-- feature-area-start -->
<div class="it-feature-3-area it-feature-3-bg it-feature-3-style grey-bg pt-120 pb-90">
    <div class="container">
        <div class="row">

            <p></p>            
            <ul>
                <li><a href="~/assets/docs/Certidao_de_Registro_Cadastral_16350837.html">Certidão de Registro Cadastral</a></li>
                <li><a href="~/assets/docs/PortifoliodaInstituicao.pdf">Portifólio da Instituição</a></li>
                <li><a href="~/assets/docs/parecerconselhofiscal26082024.pdf">Parecer Conselho Fiscal</a></li>
                <li><a href="~/assets/docs/termodeferimento.pdf">Termo de Deferimento</a></li>
                <li><a href="~/assets/docs/declaracaoprocessovotacao.pdf">Declaração de Processo de Votação</a></li>
                <li>
                    <a href="~/assets/docs/certificadoderegularidadedofgts.pdf">
                        Certificado de Regularidade do FGTS - CRF
                    </a>
                </li>
                <li><a href="~/assets/docs/CERTIDAONEGATIVADEDEBITOSTRABALHISTAS.pdf">Certidão Negativa de Débitos Trabalhistas</a></li>
                <li><a href="~/assets/docs/certidaonegativatributosfederais.pdf">Certidão Negativa de Débitos Relativos Aos Tributos Federais e à Dívida Ativa da União</a></li>
                <li><a href="~/assets/docs/certidaonegativatributosestaduais.pdf">Certidão Negativa de Débitos Tributários Estadual</a></li>
                <li><a href="~/assets/docs/CertidaoNegativaDebitosMunicipais.pdf">Certidão Negativa de Débitos Municipais</a></li>
                <li><a href="~/assets/docs/Oficio 2025_35_ambulancia_xc.docx">Ofício Ambulância</a></li>
                <li><a href="~/assets/docs/Oficio 2025_34_SESTRAN_xc.docx">Ofício SESTRAN</a></li>
                <li><a href="~/assets/docs/Oficio 2025_33_PM_XC.docx">Ofício PM</a></li>
                <li><a href="~/assets/docs/Oficio 2025_32_alvara_prefeito XC.docx">Ofício Alvará Prefeitura</a></li>
                <li><a href="~/assets/docs/Oficio 2025_31_obras2.docx">Ofício Obras 2</a></li>
                <li><a href="~/assets/docs/Oficio 2025_30_obras.docx">Ofício Obras</a></li>
                <li><a href="~/assets/docs/Oficio 2025_29_esportes.docx">Ofício Esportes</a></li>
                <li><a href="~/assets/docs/Oficio 2025_28_DAEPA.docx">Ofício DAEPA</a></li>
                <li><a href="~/assets/docs/Oficio 2025_27_ambulancia.docx">Ofício Ambulância</a></li>
                <li><a href="~/assets/docs/Oficio 2025_26_camara.docx">Ofício Camara</a></li>
                <li><a href="~/assets/docs/Oficio 2025_25_SESTRAN.docx">Ofício SESTRAN</a></li>
                <li><a href="~/assets/docs/Oficio 2025_24_Delegado_Latino.docx">Ofício Delegado Latino</a></li>
                <li><a href="~/assets/docs/Oficio 2025_23_PM_Latino.docx">Ofício PM Latino</a></li>
                <li><a href="~/assets/docs/Oficio 2025_22_alvara_prefeito.docx">Ofício Alvará Prefeitura</a></li>
                <li><a href="~/assets/docs/Oficio 2025_21_ESPORTES_FESTIVAL_agradecimento.docx">Ofício Esportes</a></li>
                <li><a href="~/assets/docs/Oficio 2025_20_ESPORTES_FESTIVAL.docx">Ofício Esportes</a></li>
                <li><a href="~/assets/docs/Oficio 2025_19_SEC CULTURA.docx">Ofício Secretaria Cultura</a></li>
                <li><a href="~/assets/docs/Oficio 2025_18_SEC DE ESPORTES LATINO.docx">Ofício Secretaria Esportes</a></li>
                <li><a href="~/assets/docs/Oficio 2025_17_DAEPA.docx">Ofício DAEPA</a></li>
                <li><a href="~/assets/docs/Oficio 2025_16_SEC DE OBRAS.docx">Ofício Secretaria de Obras</a></li>
                <li><a href="~/assets/docs/Oficio 2025_015 SEC DE ESPORTES.docx">Ofício Secretaria de Esportes</a></li>
                <li><a href="~/assets/docs/Oficio 2025_14_ambulancia_FIM.docx">Ofício Ambulância FIM</a></li>
                <li><a href="~/assets/docs/Oficio 2025_13_TRANSITO.docx">Ofício Trânsito</a></li>
                <li><a href="~/assets/docs/Oficio 2025_12_PM_FIM.docx">Ofício PM FIM</a></li>
                <li><a href="~/assets/docs/Oficio 2025_11_Camara_vereadores_FIM.docx">Ofício Camara Vereadores FIM</a></li>
                <li><a href="~/assets/docs/Oficio 2025_10_Prefeitura_FIM_agradecimento.doc">Ofício Prefeitura FIM Agradecimento</a></li>
                <li><a href="~/assets/docs/Oficio 2025_09_DAEPA.docx">Ofício DAEPA</a></li>
                <li><a href="~/assets/docs/Oficio 2025_08_SEC DE OBRAS.docx">Ofício Secretaria de Obras</a></li>
                <li><a href="~/assets/docs/Oficio 2025_07_CIVIL_FIM.docx">Ofício Civil FIM</a></li>
                <li><a href="~/assets/docs/Oficio 2025_06_PM_FIM.docx">Ofício PM FIM</a></li>
                <li><a href="~/assets/docs/Oficio 2025_05_TRANSITO.docx">Ofício Trânsito</a></li>
                <li><a href="~/assets/docs/Oficio 2025_04_ambulancia_FIM.docx">Ofício Ambulância FIM</a></li>
                <li><a href="~/assets/docs/Oficio 2025_03_SEC DE ESPORTES.docx">Ofício Secretaria de Esportes</a></li>
                <li><a href="~/assets/docs/Oficio 2025_03_SEC DE ESPORTES VALORES.docx">Ofício Secretaria de Esportes Valores</a></li>
                <li><a href="~/assets/docs/Oficio 2025_03_PM_FIM.docx">Ofício PM FIM</a></li>
                <li><a href="~/assets/docs/Oficio 2025_02_Camara_vereadores_FIM.docx">Ofício Camara Vereadores FIM</a></li>
                <li><a href="~/assets/docs/Oficio 2025_01_Prefeitura_FIM_alvara.pdf">Ofício Alvará Prefeitura FIM</a></li>
                <li><a href="~/assets/docs/Oficio 2025_01_Prefeitura_FIM_alvara.doc">Ofício Alvará Prefeitura FIM</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- feature-area-end -->
