@{
    ViewData["Title"] = "Editais";
}

<!-- breadcrumb-area-start -->
<div class="it-breadcrumb-area it-breadcrumb-bg" data-background="~/assets/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="it-breadcrumb-content z-index-3 text-center">
                    <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">Editais</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                            <span><a href="/Home">home</a></span>
                            <span class="dvdr">//</span>
                            <span>Editais</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->
<!-- feature-area-start -->
<div class="it-feature-3-area it-feature-3-bg it-feature-3-style grey-bg pt-120 pb-90">
    <div class="container">
        <div class="row">
            <ul>
                <li><a href="~/assets/docs/editalconvocacao.pdf">Edital de Convocação 10/08/2024</a></li>
                <li><a href="~/assets/docs/editalconvocacao29062024.pdf">Edital de Convocação 29/06/2024</a></li>
                <li><a href="~/assets/docs/editalconvocacao22062024.pdf">Edital de Convocação 22/06/2024</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- feature-area-end -->
