@{
    ViewData["Title"] = "Filiados";
}

<!-- breadcrumb-area-start -->
<div class="it-breadcrumb-area it-breadcrumb-bg" data-background="-/assets/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="it-breadcrumb-content z-index-3 text-center">
                    <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">Sobre nós</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                            <span><a href="/Home">Home</a></span>
                            <span class="dvdr">//</span>
                            <span>Filiados</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->
<!-- about-area-start -->
<div class="it-about-4-area  inner-about-style pt-120 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12">
                <div class="it-about-3-title-box">
                    <span class="it-section-subtitle">                        
                        Filiados
                    </span>
                    <p>
                        Rua: Coronel Rabelo nª 1189, Bairro Centro, CEO: 38740-042- Patrocínio – MG
                        <br/>
                        CNPJ sob nº 04.400.083/0001-67
                    </p>
                    <p>
                        Sócios  do MOTO CLUBE DO CERRADO
                        <br/>
                        Data da fundação: 25/03/2001
                    </p>
                    <p>
                        <ul>
                            <li>Maurício Paiva Brandão</li>
                            <li>Daniel dos Reis</li>
                            <li>Julia Queiroz Mendes dos Reis</li>
                            <li>Rodrigo Ferreira</li>
                            <li>Lucio Mauro Afonso</li>
                            <li>Bruno César Barros</li>
                            <li>Leandro José Vieira</li>
                            <li>Fabrício Cortes Menezes</li>
                            <li>Cleuza Maria Bento</li>
                            <li>Isadora Malagoli</li>
                            <li>Tony Henrique Silva</li>
                            <li>Willian Silva Menezes</li>
                            <li>Dines Ledineia Zamai</li>
                            <li>Fabiano Golçalves de Paiva</li>
                            <li>Vitor Borges Garcia</li>
                            <li>Danielle Furtado Silva Alcântara</li>
                            <li>Lucio Mauro Afonso</li>
                            <li>Thiago Alves de Souza</li>
                            <li>Guilherme Paiva Brandão</li>
                            <li>Alessandro César Quirino</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-area-end -->