@{
    ViewData["Title"] = "Home Page";
}

@* <!-- breadcrumb-area-start -->
<div class="it-breadcrumb-area it-breadcrumb-bg" data-background="-/assets/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="it-breadcrumb-content z-index-3 text-center">
                    <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">Home</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                            <span><a href="/Home">Home</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end --> *@
<!-- about-area-start -->
<div class="it-about-4-area  inner-about-style pt-120 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12">
                <div class="it-about-3-title-box">
                    <span class="it-section-subtitle">
                        <img src="~/assets/img/category/inner.svg" alt="">
                        História
                    </span>
                    
                    <p>
                        O Moto Clube do Cerrado nasceu da paixão pelo Enduro e pelo motociclismo off-road em Patrocínio. Formado por pilotos e entusiastas da região, o clube se consolidou como uma das principais referências do esporte em Minas Gerais. Ao longo dos anos, promoveu provas tradicionais, incentivou novos atletas, apoiou categorias de base e ajudou a fortalecer a cultura do Enduro no cerrado mineiro.
                    </p>
                    
                    <p>
                        Sua atuação vai além das competições: o clube trabalha pela preservação ambiental, pelo desenvolvimento do esporte seguro e pelo crescimento da comunidade off-road. Hoje, o Moto Clube do Cerrado é reconhecido pela organização de eventos de alto nível, pela união dos pilotos e pela dedicação em manter viva a história do Enduro em Patrocínio, contribuindo para o esporte em âmbito regional, nacional e internacional.
                    </p>
                </div>
                <div class="it-about-3-title-box">
                    <span class="it-section-subtitle">
                        <img src="~/assets/img/category/inner.svg" alt="">
                        Missão
                    </span>
                    <p>
                        Preservar e promover a modalidade de Enduro, incentivando a prática segura e sustentável, formando novos atletas, dando suporte contínuo aos praticantes experientes, e a realização de eventos que destacam a importância da técnica, resistência e respeito ao meio ambiente, mantendo viva a tradição do Enduro, garantindo que essa modalidade continue a crescer e a se desenvolver, atraindo novas gerações de entusiastas e contribuindo para a valorização do esporte no cenário local e nacional.
                    </p>
                </div>
                <div class="it-about-3-title-box">
                    <span class="it-section-subtitle">
                        <img src="~/assets/img/category/inner.svg" alt="">
                        Visão
                    </span>
                    <p>
                        Assegurar que o Enduro permaneça acessível, inclusivo e respeitado, contribuindo para o crescimento contínuo da comunidade e inspirando futuros atletas a promover um legado positivo tanto para o esporte quanto para o meio ambiente.
                        <br/>
                        Valores
                        <ul>
                            <li>Respeito</li>
                            <li>Ética</li>
                            <li>Integridade</li>
                            <li>Responsabilidade</li>
                            <li>Tradição</li>
                            <li>Inovação</li>
                            <li>Segurança</li>
                            <li>Compromisso</li>
                            <li>Solidariedade</li>
                        </ul>
                    </p>
                </div>
                <div class="it-about-3-title-box">
                    <span class="it-section-subtitle">
                        <img src="~/assets/img/category/inner.svg" alt="">
                        Processo eleitorial
                    </span>
                    <p>
                        O processo eleitoral do Moto Clube do Cerrado acontece a cada 4 anos, sempre no mês de dezembro. @* Para conhecer mais detalhes, faça o download do descritivo completo do processo eleitoral <a href="#"> AQUI. </a> *@
                    </p>
                </div>
                <div class="it-about-3-title-box">
                    <span class="it-section-subtitle">
                        <img src="~/assets/img/category/inner.svg" alt="">
                        Código de conduta e ética
                    </span>
                    <p>
                        Todos associados do Moto Clube do Cerrado devem respeitar nosso regimento interno e seguir o código de conduta e ética. @* Para conhecer detalhes, faça o download de nosso código de conduta <a href="#">AQUI.</a> *@
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-area-end -->