@{
    ViewData["Title"] = "Home Page";
}

@* <!-- breadcrumb-area-start -->
<div class="it-breadcrumb-area it-breadcrumb-bg" data-background="-/assets/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="it-breadcrumb-content z-index-3 text-center">
                    <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">Home</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                            <span><a href="/Home">Home</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end --> *@
<!-- about-area-start -->
<div class="it-about-4-area  inner-about-style pt-120 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12">
                <div class="it-about-3-title-box">
                    <span class="it-section-subtitle">
                        <img src="~/assets/img/category/inner.svg" alt="">
                        História
                    </span>
                    <p>
                        Desde sua fundação em 2001, o Moto Clube do Cerrado não apenas se dedicou à exploração e à preservação do meio ambiente, mas também se envolveu ativamente no mundo das competições de motociclismo. Inicialmente, o foco do clube era promover eventos internos e passeios que permitissem aos membros testar suas habilidades e desfrutar das trilhas do Cerrado.
                    </p>
                    <p>
                        Com o tempo, o clube começou a organizar e participar de competições regionais e nacionais de Enduro e outras modalidades de motociclismo. O envolvimento em competições ajudou a estabelecer o clube como uma referência no cenário competitivo, destacando-se pela organização de eventos bem estruturados e pela performance de seus pilotos.
                    </p>
                    <p>
                        O Moto Clube do Cerrado se tornou conhecido por seu compromisso em elevar o padrão das competições, oferecendo eventos que não só desafiam os participantes, mas também respeitam o meio ambiente e as comunidades locais. A organização de competições envolveu a criação de trilhas desafiadoras e seguras, além da implementação de práticas que minimizam o impacto ambiental.
                    </p>
                    <p>
                        Hoje, o clube continua a desempenhar um papel importante nas competições de motociclismo, mantendo-se fiel aos seus valores de respeito e preservação, ao mesmo tempo em que promove a excelência esportiva e o espírito de camaradagem entre os participantes. A história das competições do Moto Clube do Cerrado é uma prova de sua dedicação à modalidade e à construção de um legado duradouro no esporte.
                    </p>
                </div>
                <div class="it-about-3-title-box">
                    <span class="it-section-subtitle">
                        <img src="~/assets/img/category/inner.svg" alt="">
                        Missão
                    </span>
                    <p>
                        Preservar e promover a modalidade de Enduro, incentivando a prática segura e sustentável, formando novos atletas, dando suporte contínuo aos praticantes experientes, e a realização de eventos que destacam a importância da técnica, resistência e respeito ao meio ambiente, mantendo viva a tradição do Enduro, garantindo que essa modalidade continue a crescer e a se desenvolver, atraindo novas gerações de entusiastas e contribuindo para a valorização do esporte no cenário local e nacional.
                    </p>
                </div>
                <div class="it-about-3-title-box">
                    <span class="it-section-subtitle">
                        <img src="~/assets/img/category/inner.svg" alt="">
                        Visão
                    </span>
                    <p>
                        Assegurar que o Enduro permaneça acessível, inclusivo e respeitado, contribuindo para o crescimento contínuo da comunidade e inspirando futuros atletas a promover um legado positivo tanto para o esporte quanto para o meio ambiente.
                        <br/>
                        Valores
                        <ul>
                            <li>Respeito</li>
                            <li>Ética</li>
                            <li>Integridade</li>
                            <li>Responsabilidade</li>
                            <li>Tradição</li>
                            <li>Inovação</li>
                            <li>Segurança</li>
                            <li>Compromisso</li>
                            <li>Solidariedade</li>
                        </ul>
                    </p>
                </div>
                <div class="it-about-3-title-box">
                    <span class="it-section-subtitle">
                        <img src="~/assets/img/category/inner.svg" alt="">
                        Processo eleitorial
                    </span>
                    <p>
                        O processo eleitoral do Moto Clube do Cerrado acontece a cada 4 anos, sempre no mês de dezembro. @* Para conhecer mais detalhes, faça o download do descritivo completo do processo eleitoral <a href="#"> AQUI. </a> *@
                    </p>
                </div>
                <div class="it-about-3-title-box">
                    <span class="it-section-subtitle">
                        <img src="~/assets/img/category/inner.svg" alt="">
                        Código de conduta e ética
                    </span>
                    <p>
                        Todos associados do Moto Clube do Cerrado devem respeitar nosso regimento interno e seguir o código de conduta e ética. @* Para conhecer detalhes, faça o download de nosso código de conduta <a href="#">AQUI.</a> *@
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-area-end -->