@{
    ViewData["Title"] = "Organograma";
}

<!-- breadcrumb-area-start -->
<div class="it-breadcrumb-area it-breadcrumb-bg" data-background="-/assets/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="it-breadcrumb-content z-index-3 text-center">
                    <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">Sobre nós</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                            <span><a href="/Home">Home</a></span>
                            <span class="dvdr">//</span>
                            <span>Organograma</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->
<!-- about-area-start -->
<div class="it-about-4-area  inner-about-style pt-120 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12">
                <div class="it-about-3-title-box">
                    <span class="it-section-subtitle">
                        <img src="~/assets/img/category/inner.svg" alt="">
                        Estrutura e Organograma (sem remuneração)
                    </span>
                    <p>
                        <img src="~/assets/img/about/organograma.jpg" alt="Estrutura e Organograma" />
                    </p>
                    <p>
                        A Diretoria executiva da Associação Moto Clube do Cerrado exerce todas e quaisquer atividades de maneira voluntária, não recebendo recursos financeiros de nenhuma natureza.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about-area-end -->
