@{
    ViewData["Title"] = "Editais";
}

<!-- breadcrumb-area-start -->
<div class="it-breadcrumb-area it-breadcrumb-bg" data-background="~/assets/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="it-breadcrumb-content z-index-3 text-center">
                    <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">Relatórios financeiros</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                            <span><a href="/Home">home</a></span>
                            <span class="dvdr">//</span>
                            <span>Relatórios financeiros</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->
<!-- feature-area-start -->
<div class="it-feature-3-area it-feature-3-bg it-feature-3-style grey-bg pt-120 pb-90">
    <div class="container">
        <div class="row">
            <h6>2023</h6>
            <ul>
                <li><a href="~/assets/docs/relatoriofinanceiro2023.pdf">Relatório Financeiro</a></li>
                <li><a href="~/assets/docs/Composicaodeindiceart4daPortariaME1152018.pdf">Composição de indice art. 4ºda Portaria ME 115.2018</a></li>
                <li><a href="~/assets/docs/parecerconselhofiscal26082024.pdf">Parecer Conselho Fiscal</a></li>
                <li><a href="~/assets/docs/DRE2023.pdf">DRE</a></li>
                <li><a href="~/assets/docs/Balanco2023.pdf">Balanço Patrimonial</a></li>
                <li><a href="~/assets/docs/declaracaodebitosecreditos2022.pdf">Declaração de débitos e créditos</a></li>
                
            </ul>    
            <br />
            <p></p>
            <h6>2022</h6>
            <ul>
                <li><a href="~/assets/docs/relatoriofinanceiro2022.pdf">Relatório Financeiro</a></li>
                <li><a href="~/assets/docs/ParecerConselhoFiscal2022.pdf">Parecer Conselho Fiscal</a></li>
                <li><a href="~/assets/docs/DRE2022.jpg">DRE</a></li>
                <li><a href="~/assets/docs/Balanco2022.pdf">Balanço Patrimonial</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- feature-area-end -->
