@{
    ViewData["Title"] = "Editais";
}

<!-- breadcrumb-area-start -->
<div class="it-breadcrumb-area it-breadcrumb-bg" data-background="~/assets/img/breadcrumb/breadcrumb.jpg">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="it-breadcrumb-content z-index-3 text-center">
                    <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">Relatórios de atividades</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                            <span><a href="/Home">home</a></span>
                            <span class="dvdr">//</span>
                            <span>Relatórios de atividades</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->
<!-- feature-area-start -->
<div class="it-feature-3-area it-feature-3-bg it-feature-3-style grey-bg pt-120 pb-90">
    <div class="container">
        <div class="row">
            <p></p>
            <h6>2023</h6>
            <ul>
                <li><a href="~/assets/docs/relatorioatividades2023.pdf">Relatório de atividades</a></li>
            </ul>
            <p></p>
            <h6>2022</h6>
            <ul>
                <li><a href="~/assets/docs/relatorioatividades2022.pdf">Relatório de atividades</a></li>
                <li><a href="~/assets/docs/declaracaoinatividade2022.pdf">Declaração de inatividade</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- feature-area-end -->
